################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/timedelay_test.vcxproj.user
/timedelay.vcxproj.user
/timedelay.vcxproj.filters
/timedelay.vcxproj
/timedelay.sln
/Debug/vc142.pdb
/Debug/timedelay_test.vcxproj.FileListAbsolute.txt
/Debug/timedelay_test.tlog/timedelay_test.lastbuildstate
/Debug/timedelay_test.tlog/link.write.1.tlog
/Debug/timedelay_test.tlog/link.read.1.tlog
/Debug/timedelay_test.tlog/link.command.1.tlog
/Debug/timedelay_test.tlog/CL.write.1.tlog
/Debug/timedelay_test.tlog/CL.read.1.tlog
/Debug/timedelay_test.tlog/CL.command.1.tlog
/Debug/timedelay_test.pdb
/Debug/timedelay_test.log
/Debug/timedelay_test.ilk
/Debug/timedelay_test.exe
/Debug/timedelay.obj
/Debug/test.obj
/.vs/VSWorkspaceState.json
/.vs/timedelay_test/v16/ipch/AutoPCH/f926405a5b966bc9/TIMEDELAY.ipch
/.vs/timedelay_test/v16/ipch/AutoPCH/593d772403075db7/TEST.ipch
/.vs/timedelay_test/v16/Browse.VC.db
/.vs/timedelay_test/v16/.suo
/.vs/timedelay/v16/ipch/AutoPCH/a21ae425dd61ac2e/TIMEDELAY.ipch
/.vs/timedelay/v16/ipch/AutoPCH/899fbc8ec14ca628/TEST.ipch
/.vs/timedelay/v16/Browse.VC.opendb
/.vs/timedelay/v16/Browse.VC.db
/.vs/timedelay/v16/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/timedelay/v16/ipch/AutoPCH/b345e23a3342f8a8/TIMEDELAY.ipch
/.vs/timedelay/v16/ipch/AutoPCH/6baec724b43a79de/TEST.ipch
/Release/timedelay.tlog/link-rc.read.1.tlog
/Release/timedelay.tlog/link.command.1.tlog
/Release/timedelay.tlog/link-cvtres.write.1.tlog
/Release/timedelay.tlog/link-rc.write.1.tlog
/Release/timedelay.tlog/link-cvtres.read.1.tlog
/Release/timedelay.tlog/link.write.1.tlog
/.vs/timedelay/v16/Browse.VC.db-shm
/.vs/timedelay/v16/Browse.VC.db-wal
/.vs/timedelay/v16/ipch/AutoPCH/218cc36453021265/SOURCE.ipch
/.vs/timedelay/v16/ipch/AutoPCH/8f4d8056d510fb28/ASYNCTEST.ipch
/.vs/timedelay/v16/ipch/AutoPCH/49f9750b118e05fa/TIMEDELAY.ipch
/Debug/timedelay.ilk
/Debug/timedelay.exe
/Debug/asynctest.obj
/.vs/timedelay/v16/ipch/AutoPCH/c6fec34a697c2fa/TEST.ipch
/.vs/timedelay/v16/ipch/AutoPCH/aaca8805db643244/TEST.ipch
/.vs/timedelay/v16/ipch/AutoPCH/91dd744cfdd71212/ASYNCTEST.ipch
/Debug/timedelay.tlog/link.write.1.tlog
/Debug/timedelay.tlog/link.read.1.tlog
/Debug/timedelay.tlog/link.command.1.tlog
/Debug/timedelay.tlog/CL.write.1.tlog
/Debug/timedelay.tlog/CL.read.1.tlog
/Debug/timedelay.tlog/CL.command.1.tlog
/Debug/timedelay.pdb
/Debug/timedelay.log
/Release/timedelay.tlog/CL.read.1.tlog
/Release/timedelay.tlog/CL.command.1.tlog
/Release/timedelay.pdb
/Release/timedelay.obj
/Release/timedelay.log
/Release/timedelay.Build.CppClean.log
/Release/test.obj
/Release/asynctest.obj
/Debug/timedelay.vcxproj.FileListAbsolute.txt
/Debug/timedelay.tlog/timedelay.lastbuildstate
/Release/vc142.pdb
/Release/timedelay.vcxproj.FileListAbsolute.txt
/Release/timedelay.tlog/unsuccessfulbuild
/Release/timedelay.tlog/timedelay.lastbuildstate
/Release/timedelay.tlog/link.read.1.tlog
/Release/timedelay.tlog/CL.write.1.tlog
